*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black ;
    color: white;
}
.heading{
    text-align: center;
    background: linear-gradient(to right,rgb(250, 7, 157) 30%,orange ,rgb(255, 255, 0),rgb(4, 4, 247));
    background-clip: text;
    color: transparent;
    font-weight: 900;
}
.intro{
    text-align: center;
    font-size: 15px;
    color: rgb(224, 219, 219);
    margin-top: 20px;
}
.listitems{
    display: inline;
}
nav{
    background-color: rgb(134, 246, 246);
    height: 40px;
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    border-radius: 20px;
    border: 3px solid blue;
}
.list{
    color:black;
    text-decoration: none;
    font-weight: 550;
    padding:0px 10px;
}
.bgvideo{
   width:100%;

}
.section1{
   background-color: rgb(23, 23, 51);
   border: 2px solid aqua;
   margin: 20px auto;
   border-radius: 20px;
   width: 95%;
   padding:10px 50px;
   box-shadow: 3px 3px 30px rgb(238, 255, 0); 
   transition:all 0.3s ease-in-out;
}
.section1:hover{
   transform: scale(1.05);
   transform: translateY(-5px);
}
.sectiontitle{
    background: linear-gradient(90deg,rgb(255, 0, 238) 0%,yellow 10%,orange 10%,yellow 10%);
    background-clip: text;
    color: transparent;
    font-size: 25px;
    margin-bottom: 15px;
}
button{
    border: 2px solid brown;
    margin-top: 10px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.button{
    text-decoration: none;
    color:black;
}
p,.s1,.s2{
    color:rgb(203, 198, 198);
    padding:5px;
}
.s2{
    padding:10px
}
.tech1{
    background-color: aliceblue;
    color:black;
    border: 3px solid brown;
    border-radius: 10px;
    padding-left: 10px;
    width:450px;
    height: 50px;
    margin-bottom: 10px;
}
.api,.cicd{
    color:brown;
    font-weight: 550;
}
.pro1{
    text-decoration: none;
    color:rgb(215, 201, 201);
}
.p1{
    background: linear-gradient(90deg, rgb(255, 77, 0) 0%, yellow 10%, orange 10%, yellow 10%);
    background-clip: text;
    color: transparent;
}
pre{
    color:rgb(198, 205, 211);
}
.cd{
    text-decoration: none;
    color:aliceblue;
}
.lin{
    padding:10px;
    margin-top:20px;
    text-decoration: none;
    color:aliceblue;
}
b{
    color:rgb(255, 119, 0);
}
.s2{
    color:rgb(248, 106, 5);
}
